@import "reset.css";
@import "variable.css";
/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 1000vh;
  color: #2e363e;
}
